extends layout 

block content 
    .row.mt-5   
        .col-md-6.m-auto.text-center
            .card.card-body.text-center
                img.mb-4.mx-auto(src="/assests/logo.png", width="80%")
                include partials/messages.pug
                a(href="/users/login" class="btn btn-primary btn-block mb-2") Login 
                a(href="/users/register" class="btn btn-secondary btn-block") Register 
                